= javascript_tag("Event.observe(window,'load',function(){instantiateFCKEditor('#{page_part.name}')});Event.observe($('part_#{page_part.name}_filter_id'),'change',function(){toggleEditor('#{page_part.name}')});")
